html{
    box-sizing: border-box;
    height: 100%;
}

*, *::before, *::after{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    align-items: center;
    background: linear-gradient(320deg, #5d4df5, #18160a, #a1bdb7);
    display: flex;
    font-family: 'Dosis', sans-serif;
    font-display: swap;
    height: inherit;
    flex-direction: column;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

h1{
    margin-top: 20px;
    color: #fff;
    font-family: 'Dosis', sans-serif;
}

h2{
    margin-bottom: 20px;
    color: #ffffff;
    font-family: 'Dosis', sans-serif;
}

.wrapper{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);
    background: rgba(255, 255, 255, 0.30);
    border: 1px solid rgba(255, 255, 255, 0.34);
    flex-basis: 400px;
    height: 540px;
    padding: 20px 35px;
}

.screen{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    font-size: 35px;
    overflow: auto;
    padding: 20px;
    text-align: right;
    width: 326px;
}

.calc-button-row{
    display: flex;
    justify-content: space-between;
    margin: 5% 0;
}

.calc-button{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #232323;
    flex-basis: 20%;
    font-family: inherit;
    font-size: 24px;
    height: 65px;
}

.calc-button:last-child{
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    background: rgba(255, 255, 255, 0.75);
    border: 1px solid rgba(255, 255, 255, 0.01);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
    color: #fff;
    background: #28d737;
}

.calc-button:last-child:hover{
    background-color: inherit;
    color: inherit;
}

.calc-button:hover{
    background-color: inherit;
}

.calc-button:active{
    background-color: #ffef78;
}

.double{
    flex-basis: 47%;
}

.triplex{
    flex-basis: 73%;
}

@media (max-width: 768px) {
    .wrapper {
        flex-direction: column; 
        height: auto; 
        padding: 20px; 
        width: 50%;
    }

    .calc-button-row {
        margin: 5px 0; 
    }

    .calc-button {
        flex-basis: 23%; 
        font-size: 18px; 
        height: 50px; 
    }

    .screen {
        width: 100%; 
        font-size: 28px; 
    }

    .title h1 {
        font-size: 24px; 
        margin-top: 10px;
    }

    .title h2 {
        font-size: 16px; 
        margin-bottom: 10px; 
    }
}



@media (max-width: 425px) {
    .wrapper {
        width: 80%; 
    }

    .calc-button {
        font-size: 16px; 
    }
}

@media (max-width: 375px) {
    .wrapper {
        width: 85%; 
    }

    .calc-button {
        font-size: 16px; 
    }
}

@media (max-width: 320px) {
    .wrapper {
        width: 90%; 
    }

    .calc-button {
        font-size: 16px; 
    }
}